<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class=''><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/books/new">
      <button>Add Books</button>
    </a>
  </body>
</html>