<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div>
      <a href="/">
        <button>Home </button> 
       </a>
       <a href="/articles/new">
        <button>Add article </button> 
       </a>
    </div>
  </header>
  <div>
    <h1>Welcome to the Blog page</h1>
  </div>
  <nav>
    <div>
      <a href="/articles/">
       <button>List Articles </button> 
      </a>
    </div>
  </nav>
</body>
</html>